<div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="p-24">
  <mat-card fxFlex="100" fxFlex.gt-sm="49" class="mb-24">
    <mat-card-header>
      <mat-card-title>Ritmo</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="rhythm"
        [gradient]="gradient"
        [legend]="'true'"
        legendTitle=""
        [xAxis]="'true'"
        [yAxis]="'true'"
        [showXAxisLabel]="'true'"
        [showYAxisLabel]="'true'"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="100" fxFlex.gt-sm="49" class="mb-24">
    <mat-card-header>
      <mat-card-title>Ritmo por género</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="genderRhythm"
        [gradient]="gradient"
        [legend]="'true'"
        legendTitle=""
        [xAxis]="'true'"
        [yAxis]="'true'"
        [showXAxisLabel]="'true'"
        [showYAxisLabel]="'true'"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100" fxFlex.gt-sm="49" class="mb-24">
    <mat-card-header>
      <mat-card-title>Ritmo por categoría</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="categoryRhythm"
        [gradient]="gradient"
        [legend]="'true'"
        legendTitle=""
        [xAxis]="'true'"
        [yAxis]="'true'"
        [showXAxisLabel]="'true'"
        [showYAxisLabel]="'true'"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="100" fxFlex.gt-sm="49" class="mb-24">
    <mat-card-header>
      <mat-card-title>Ritmo por categoría y género</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="categoryGenderRhythm"
        [gradient]="gradient"
        [xAxis]="'true'"
        [yAxis]="'true'"
        [showXAxisLabel]="'true'"
        [showYAxisLabel]="'true'"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100" fxFlex.gt-sm="49" ngClass.lt-md="mb-24">
    <mat-card-header>
      <mat-card-title>Categorías</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="categorys"
        [labels]="true"
        [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="100" fxFlex.gt-sm="49">
    <mat-card-header>
      <mat-card-title>Género</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-12" ngClass.gt-xs="h-400">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="genders"
        [labels]="true"
        [gradient]="gradient">
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
</div>