<div class="navbar-header">

    <div class="logo">
        <div class="logo-icon">
          <img src="assets/images/brand/brand-white.png" alt="icon">
        </div>
        <div class="logo-text">
          TFG
        </div>
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" appNavbar="toggleFold" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" appNavbar="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" >
    <app-navigation></app-navigation>
</div>
