<div class="navbar-header">

    <div class="logo">
        <div class="logo-icon">
          <img src="assets/images/brand/brand-white.png" alt="icon">
        </div>
        <div class="logo-text">
          TFG
        </div>
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" appNavbar="toggleFold" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" appNavbar="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content">
    <app-navigation></app-navigation>
</div>

<div class="navbar-options nav">

    <div class="nav-item" (click)="logout()">
        <a class="nav-link" mat-ripple>
            <mat-icon class="nav-link-icon">exit_to_app</mat-icon>
            <span class="nav-link-title">Desconectar</span>
        </a>
    </div>
</div>
