<div id="forgot-password" fxLayout="column" >

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div *ngIf="!sendedEmail" class="forgot-password-form">

            <div class="logo">
              <img [routerLink]="['/']" class="pointer" src="assets/brand.png" alt="icon">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="resetPasswordHandler()"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    SEND RESET LINK
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
            </div>

        </div>
      <div *ngIf="sendedEmail" id="" class="forgot-password-form">
        <span>Si tu email se encuentra en el sistema, te va a llegar un email para restablecer tu contraseña</span>
      </div>


    </div>

</div>
