@import "client/app/core/scss/main";

.event-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

// Profile boxes
.profile-box {
    margin-bottom: 16px;

    footer {
        padding: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            .info {

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
