<h2 mat-dialog-title>Selecciona al club que deseas seguir</h2>

<form name="form" [formGroup]="form" novalidate>
    <div mat-dialog-content>
        <!-- Autocomplete START -->
      <mat-form-field fxFlex="1 0 100"> 
        <input 
          matInput 
          formControlName="club"
          placeholder="Selecciona un club de la lista"
          [matAutocomplete]="runnerAutocomplete">
        <mat-error
          *ngIf="form.get('club').hasError('required')">
          <strong>Campo requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-autocomplete #runnerAutocomplete="matAutocomplete">
        <mat-option *ngFor="let club of filteredClubs | async" [value]="club">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>{{ club }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <!-- Autocomplete END -->
        
    </div>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="dialogRef.close()">Cancelar</button>

        <button mat-raised-button type="submit" class="submit-button" color="accent" [mat-dialog-close]="form.value.club"
                aria-label="Aceptar" [disabled]="form.invalid">
            Aceptar
        </button>
    </div>
</form>