.event-info {
  margin-bottom: 55px;
}

.event-info h3, .event-info h2 {
  margin-bottom: 0px;
  margin-right: 5px;
}

.trip-details-connection {
  padding: 20px;
}

.trip-details-connection-title {}

.trip-details-connection-value {
  margin-bottom: 10px;
}
