<div class="page-layout simple tabbed"  fxLayout="row wrap" fxLayoutAlign="center start">
  <app-header title="Mis carreras" icon="directions_run" headerColor="#03a9f4">
  </app-header>

  <div fxFlex.gt-sm="0 0 85" fxFlex.sm="0 0 95" fxFlex="0 0 100" fxLayout="row wrap" ngClass.gt-xs="content"
       ngClass.xs="content-xs" fxLayoutAlign="center stretch">
    <div fxFlex="0 0 100" fxLayout="row wrap" ngClass.xs="content-card content-card-xs mat-elevation-z4"
         ngClass.gt-xs="content-card content-card-gt-xs mat-elevation-z4" fxLayoutAlign="center start">
      <mat-nav-list fxFlex="0 0 100">
        <h3 mat-subheader>Carreras</h3>
        <mat-list-item *ngFor="let race of races">

          <div fxLayout="row wrap" mat-line>
            <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center" [routerLink]="!race.custom ? ['..', 'view', race._id] : null">
              <h3><b>{{ race.name }}</b></h3>
              <span fxHide.lt-md fxFlex="1 1 20"
                    fxFlex.lt-md="0 0 100">Fecha: {{race.dateStart  | date: 'dd/MM/yyyy'}}</span>
            </div>
          </div>

          <div fxFlex="1 0 auto" fxLayout="row wrap" class="race-actions">
            <!-- <button fxHide.xs mat-mini-fab color="accent" (click)="null">
              <mat-icon>group</mat-icon>
            </button> -->
            <button fxHide.xs mat-mini-fab color="accent" (click)="null">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button fxHide.xs mat-mini-fab [routerLink]="['..', 'edit', race._id]">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button fxHide.xs mat-mini-fab color="warn" (click)="openDeleteEventDialog(race)">
              <mat-icon>delete</mat-icon>
            </button>
            <button fxHide.gt-xs mat-icon-button (click)="null">
              <mat-icon class="button-color">more_vert</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item [routerLink]="['..', 'create']">
          <mat-icon mat-list-icon>add_circle</mat-icon>
          <h4 mat-line>Agregar nueva carrera...</h4>

        </mat-list-item>
      </mat-nav-list>
    </div>

  </div>

</div>
