<div id="profile" class="page-layout simple tabbed" >

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <div class="profile-image avatar huge" [style.background-image]="'url('+ user?.profileImageUrl +')'"></div>
            <div class="name">{{user?.name}}</div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center">
            <!--<button mat-raised-button color="accent" aria-label="Follow">Follow</button>-->
            <button mat-raised-button color="primary" aria-label="Enviar mensaje">Enviar mensaje</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content-profile" class="p-24">
        <div class="public-content" fxLayout="column" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="start start" class="public-view-mode">
                    <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">

                        <div class="profile-box info-box general" fxFlex="1 0 100">
                            <header class="mat-accent-bg">
                            <div class="title">Información general</div>
                            </header>

                            <div class="content">
                                <div class="info-line">
                                    <div class="title">Nombre</div>
                                    <div class="info">{{user?.name}}</div>
                                </div>

                                <div class="info-line">
                                    <div class="title">Descripción</div>
                                    <div class="info">{{user?.description}}</div>
                                </div>                               
                            </div>
                        </div>

                        <div class="profile-box info-box general" fxFlex="1 0 100">
                            <header class="mat-accent-bg">
                            <div class="title">Trabajo</div>
                            </header>

                            <div class="content">
                                <div class="info-line">
                                    <div class="title">Profesión</div>
                                    <div class="info">{{user?.occupation | occupationFormat}}</div>
                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <!-- / CONTENT -->

</div>
