<div fxFlex="1 0 100" class="nav-bar-container">
  <mat-toolbar class="mat-primary-700-bg">
    <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="container animated" ngStyle.gt-md="width: 1280px">
        <div class="px-16" fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.lt-sm="0 1 180px" fxFlex.sm="0 1 230px" fxFlex.gt-sm="0 1 300px" fxLayout="row wrap"
                  fxLayoutAlign="space-between center"
                  class="logo-home-container">
              <div fxFlex="0 0 15">
                <img src="assets/images/brand/brand-white.png" alt="Logo">
              </div>
              <div fxFlex="0 0 80">
                TFG
              </div>
            </div>
            <nav class="navigation-desktop" fxHide fxShow.gt-sm>
              <ul>
                <li class="pointer">
                  <a (click)="goToFragment('about')">Sobre nosotros</a>
                </li>
                <li class="pointer">
                  <a (click)="goToFragment('contact')">Contacto</a>
                </li>
                <li class="mr-0">
                  <button mat-raised-button color="primary" routerLink="/auth/login" (click)="isLogedIn ? showLoading() : null">
                    {{isLogedIn ? 'Ir a mi cuenta' : 'Iniciar Sesion'}}
                  </button>
                </li>
                <li>
                  <button mat-raised-button
                          color="accent"
                          routerLink="/auth/register"
                          [fxHide]="isLogedIn"
                          style="margin-left: 5px;">Registrate
                  </button>
                </li>
              </ul>
            </nav>
            <div fxHide.gt-sm class="mobile-menu-trigger">
              <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon class="md-24" aria-label="Abrir Menu de Navegación">menu</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
