@import "../../../core/scss/main";

:host {
    flex: 1;
}

.mat-toolbar.mat-primary {
    background: rgba(60, 66, 82, 0.4);
}

.nav-bar-container {
    z-index: 99;
}

.main-nav-header a, .main-controls-header {
    color: white;
    padding-top: 5px;
}

.mobile-menu-trigger mat-icon {
    color: white;
}

mat-toolbar {
  background-color: mat-color($accent);
  color: map-get($accent, default-contrast);

  .toolbar-bottom {
    height: 240px;
  }

}


.main-nav-header a {
  padding: 0 20px;
}
