:host {
  flex: 1;
}

.main-landing-content {
  height: calc(100%);
}

.text-document-card {
  padding: 45px 75px;
  background-color: white;
  margin: 20px 0;
  color: black;
  max-width: 1190px !important;
}
