<div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between start" ngClass.gt-sm="p-24">
  <mat-card fxFlex="100" fxFlex.gt-sm="78">
    <app-map [race]="race" style="min-height: 470px"></app-map>
  </mat-card>
  <mat-card fxFlex="100" fxFlex.gt-sm="18" ngClass.lt-md="mt-24" ngClass.md="px-0">
    <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="px-24 py-16">
        <div class="mat-display-1 m-0">{{race.kms}}</div>
        <div class="h3 secondary-text">Kilómetros</div>
      </div>
      <div class="px-24 py-16">
        <div class="mat-display-1 m-0">{{race.results?.length}}</div>
        <div class="h3 secondary-text">Participantes</div>
      </div>
      <div class="px-24 py-16">
        <div class="mat-display-1 m-0">{{clubTypes?.length}}</div>
        <div class="h3 secondary-text">Clubes</div>
      </div>
      <div class="px-24 py-16">
        <div class="mat-display-1 m-0">{{race.results[0]?.time | secondsToTime}}</div>
        <div class="h3 secondary-text">Mejor tiempo</div>
      </div>
      <div class="px-24 py-16">
        <div class="mat-display-1 m-0">{{race.results[0]?.rhythm | secondsToTime}}</div>
        <div class="h3 secondary-text">Mejor ritmo</div>
      </div>
    </div>
  </mat-card>
  <mat-card fxFlex="100" class="mt-24" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="space-around center" fxLayoutAlign.gt-sm="start center" [ngSwitch]="runnerView">
      <!-- HEATMAP -->
      <h2 *ngSwitchCase="0">
        Seguimiento de la carrera {{race?.name}}
      </h2>
      <!-- / HEATMAP -->
      <!-- NETWORK -->
      <h2 *ngSwitchCase="1">
        Seguimiento de la carrera {{race?.name}}
      </h2>
      <!-- / NETWORK -->
      <!-- RUNNER -->
      <h2 *ngSwitchCase="2">
        Seguimiento del corredor {{runnerValue}}
      </h2>
      <!-- / RUNNER -->
      <!-- CLUB -->
      <h2 *ngSwitchCase="3">
        Seguimiento del club {{runnerValue}}
      </h2>
      <!-- / CLUB -->
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="space-around center" fxLayoutAlign.gt-sm="end center">
      <button mat-icon-button (click)="replay()">
        <mat-icon>replay_30</mat-icon>
      </button>
      <button mat-icon-button *ngIf="replayState === 'pause'" (click)="playReplay()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button *ngIf="replayState === 'play'" (click)="pauseReplay()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button (click)="forward()">
        <mat-icon>forward_30</mat-icon>
      </button>
      <mat-slider ngClass.gt-sm="w-200" [(ngModel)]="sliderValue" value="0" [min]="0" [max]="numSteps - 1" (input)="sliderInput($event)"></mat-slider>
      {{silderFormatValue}}
    </div>
  </mat-card>
</div>