<div class="page-layout simple tabbed"  fxLayout="row wrap" fxLayoutAlign="center start">
  <app-header title="Mapas" icon="map" headerColor="#03a9f4">
  </app-header>
  <div fxFlex.gt-sm="0 0 85" fxFlex.sm="0 0 95" fxFlex="0 0 100" fxLayout="row wrap" ngClass.gt-xs="content"
  ngClass.xs="content-xs" fxLayoutAlign="center stretch">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
    <div fxFlex="0 0 100" fxLayout="row wrap" ngClass.xs="content-card content-card-xs mat-elevation-z4"
    ngClass.gt-xs="content-card content-card-gt-xs mat-elevation-z4" fxLayoutAlign="center start">
          <div id="price-tables" class="page-layout simple fullwidth"

          fxLayout="row wrap"
          fxLayoutAlign="center start">
            <div class="content" fxLayout="column" fxFlex="95" style="margin-top: 0px;">
              <div fxLayout="row wrap" fxFlex="1 0 100" fxLayoutAlign="space-around center">
                  <h3><b>Total:</b></h3>
                  <span>{{totalMaps?.length}}</span>
              </div>

              <mat-form-field floatPlaceholder="never">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar mapas">
              </mat-form-field>

              <mat-table #table [dataSource]="dataSource" matSort>
                  <!-- ID Column -->
                  <ng-container matColumnDef="_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> #ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
                  </ng-container>

                  <!-- RaceID Column -->
                  <ng-container matColumnDef="raceId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> RaceId </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.raceId}} </mat-cell>
                  </ng-container>

                  <!-- GPX Column -->
                  <ng-container matColumnDef="gpx">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> GPX </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.gpx}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator #paginator
                              [pageSize]="10"
                              [pageSizeOptions]="[5, 10, 25, 100]"
                              [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>
          </div>

  </div>
</div>
