<mat-sidenav-container #scrollMe detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="bottomOffset" [topOffset]="topOffset" id="landing-page" fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="1 0 100">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="1 0 100" class="main-landing-content">
    <app-sidebar (onGoToFragment)="goToFragment($event)" [open]="isSideNavOpen"></app-sidebar>
    <app-landing-header *ngIf="navIsFixed" (onGoToFragment)="goToFragment($event)" (onToggleSidenav)="toggleSidenav()"></app-landing-header>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="landing-container">
      <!-- HOME SECTION -->
      <section class="mat-primary-700-bg pt-32 pb-0 white-fg" id="home" fxFlex="1 0 100" fxLayout="row wrap">
        <!-- NAVIGATION -->
        <div *ngIf="!navIsFixed" fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="container top-bar animated" ngStyle.gt-md="width: 1280px">
            <div class="px-16" fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex.lt-sm="0 1 180px" fxFlex.sm="0 1 230px" fxFlex.gt-sm="0 1 300px" fxLayout="row wrap"
                     fxLayoutAlign="space-between center"
                     class="logo-home-container">
                  <div fxFlex="0 0 15">
                    <img src="assets/images/brand/brand-white.png" alt="Logo">
                  </div>
                  <div fxFlex="0 0 80">
                    TFG
                  </div>
                </div>
                <nav class="navigation-desktop" fxHide fxShow.gt-sm>
                  <ul>
                    <li class="pointer">
                      <a (click)="goToFragment('about')">Sobre nosotros</a>
                    </li>
                    <li class="pointer">
                      <a (click)="goToFragment('contact')">Contacto</a>
                    </li>
                    <li class="mr-0">
                      <button mat-raised-button color="primary" routerLink="/auth/login" (click)="isLogedIn ? showLoading() : null">
                        {{isLogedIn ? 'Ir a mi cuenta' : 'Iniciar Sesion'}}
                      </button>
                    </li>
                    <li>
                      <button mat-raised-button
                              color="accent"
                              routerLink="/auth/register"
                              [fxHide]="isLogedIn"
                              style="margin-left: 5px;">Registrate
                      </button>
                    </li>
                  </ul>
                </nav>
                <div fxHide.gt-sm class="mobile-menu-trigger">
                  <button mat-icon-button (click)="toggleSidenav()">
                    <mat-icon class="md-24" aria-label="Abrir Menu de Navegación">menu</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / NAVIGATION -->

        <!-- MAIN CONTENT -->
        <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="container" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50" class="py-80" ngClass.lt-md="text-center">
              <div class="p-16" ngClass.gt-md="pl-64">           
                <h2>Asdsadas</h2>
                <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, recusandae.</h6>
                <button class="red-bg white-fg" mat-button>Action</button>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="text-center" style="position: relative">
              <img class="img-responsive layer" src="assets/images/landing/phone1.png" alt="Teléfono 1">
              <img class="img-responsive layer" src="assets/images/landing/phone2.png" alt="Teléfono 2">
              <img class="img-responsive dummy" src="assets/images/landing/blanc.png" alt="Blanco">
            </div>
          </div>
        </div>
        <!-- / MAIN CONTENT -->
      </section>
      <!-- / HOME SECTION -->

      <!-- ABOUT SECTION -->
      <section class="white-bg subsection text-center" id="about" fxFlex="1 0 100" fxLayout="row wrap">
        <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="container" fxLayout="row wrap" ngStyle.gt-md="width: 1280px">
            <div fxFlex="66" fxFlexOffset="17" fxLayout="column" fxLayoutAlign="center center" class="mb-80">
              <h3>Lorem, ipsum dolor.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eum laboriosam deleniti magnam natus maxime!</p>
            </div>
            <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mb-32">
              <div fxFlex="50" fxFlex.gt-sm="25" class="mb-32">
                <mat-icon class="font-size-50 red-fg">airplay</mat-icon>
                <h5>Lorem.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic distinctio reiciendis nobis blanditiis nisi dolore vitae deserunt deleniti in!</p>
              </div>
              <div fxFlex="50" fxFlex.gt-sm="25" class="mb-32">
                <mat-icon class="font-size-50 red-fg">star</mat-icon>
                <h5>Lorem.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic distinctio reiciendis nobis blanditiis nisi dolore vitae deserunt deleniti in!</p>
              </div>
              <div fxFlex="50" fxFlex.gt-sm="25" class="mb-32">
                <mat-icon class="font-size-50 red-fg">cloud</mat-icon>
                <h5>Lorem.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic distinctio reiciendis nobis blanditiis nisi dolore vitae deserunt deleniti in!</p>
              </div>
              <div fxFlex="50" fxFlex.gt-sm="25" class="mb-32">
                <mat-icon class="font-size-50 red-fg">help</mat-icon>
                <h5>Lorem.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic distinctio reiciendis nobis blanditiis nisi dolore vitae deserunt deleniti in!</p>
              </div>
            </div>
            <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
              <img src="assets/images/landing/mac.png" alt="PC" class="img-responsive">
            </div>
          </div>
        </div>
      </section>
      <!-- / ABOUT SECTION -->

      <!-- CONTACT SECTION -->
      <section class="fafafa-bg subsection text-center" id="contact" fxFlex="1 0 100" fxLayout="row wrap">
        <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="container" fxLayout="row wrap" ngStyle.gt-md="width: 1280px">
            <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="mb-32">
              <div fxFlex="100" fxFlex.gt-sm="42" class="text-left px-16">
                <h4>Formulario de contacto</h4>
                <form>
                  <mat-form-field class="my-8 w-100-p">
                    <input matInput placeholder="Email">
                  </mat-form-field>

                  <mat-form-field class="my-8 w-100-p">
                    <input matInput placeholder="Nombre">
                  </mat-form-field>

                  <mat-form-field class="my-8 w-100-p">
                    <textarea matInput placeholder="Mensaje" rows="3"></textarea>
                  </mat-form-field>

                  <button mat-raised-button class="submit-button" class="red-bg white-fg" (click)="alert('Implement')"
                        aria-label="ENVIAR">
                    ENVIAR
                  </button>
                </form>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="42" fxFlexOffset.gt-sm="7" class="px-16">
                <h4>Información de contacto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque qui dolore, blanditiis autem eius voluptatibus recusandae iste veniam officia tempore?</p>
                <ul class="list-icons">
                  <li>
                    <mat-icon class="red-fg font-size-24">phone</mat-icon>
                    <span>
                      <a>Lorem, ipsum dolor.</a>
                    </span>
                  </li>
                  <li>
                    <mat-icon class="red-fg font-size-24">mail</mat-icon>
                    <span>
                      <a>Lorem, ipsum dolor.</a>
                    </span>
                  </li>
                  <li>
                    <mat-icon class="red-fg font-size-24">location_on</mat-icon>
                    <span>
                      <a>Lorem, ipsum dolor.</a>
                    </span>
                  </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nostrum ducimus soluta? Iste, dicta culpa!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CONTACT SECTION -->

      <app-footer (onGoToFragment)="goToFragment($event)"></app-footer>
    </div>
  </div>
</mat-sidenav-container>
