<div id="about" class="p-24" fxLayout="row wrap">
  <div class="about-content p-24" fxLayout="column" fxFlex="1 0 100">
    <mat-progress-bar *ngIf="saving" mode="indeterminate" color="accent"></mat-progress-bar>
    <form [formGroup]="form">
      <div fxLayout="row wrap">
        <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="start start" class="about-view-mode">
          <div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h2 fxFlex="100" fxFlex.gt-xs="50">Detalles de perfil - {{ percentage | percent }}</h2>
            <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="row wrap" fxLayoutAlign="end center">
              <button *ngIf="!this.editing" mat-button (click)="edit()">
                <mat-icon class="md-24">mode_edit</mat-icon>
                  Editar
              </button>
              <button *ngIf="this.editing" mat-button (click)="cancel()">
                <mat-icon class="md-24">undo</mat-icon>
                  Cancelar
              </button>
              <button *ngIf="this.editing" mat-raised-button color="accent" (click)="save()">
                <mat-icon class="md-24">mode_edit</mat-icon>
                  Guardar
              </button>
            </div>
          </div>
          <div class="profile-box info-box general" fxFlex="1 0 100">
            <header class="mat-accent-bg">
            <div class="title">Información general</div>
            </header>

            <div class="content">
              <div class="info-line">
                <div class="title">Nombre</div>
                <div class="info" *ngIf="!this.editing">{{user?.name}}</div>
                <mat-form-field *ngIf="this.editing">
                  <input matInput placeholder="Nombre" formControlName="name" required="required">
                  <mat-error *ngIf="form.get('name').hasError('required')">
                    El Nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="info-line">
                <div class="title">Descripción</div>
                <div class="info" *ngIf="!this.editing">{{user?.description}}</div>
                <mat-form-field *ngIf="this.editing">
                  <input matInput #description formControlName="description" maxlength="350" placeholder="Descripcion">
                  <mat-hint align="start"><strong>Añada una descripción</strong> </mat-hint>
                  <mat-hint align="end">{{description.value.length}} / 350</mat-hint>
                </mat-form-field>
              </div> 

              <div class="info-line">
                <div class="title">Fecha de nacimiento</div>
                <div class="info" *ngIf="!this.editing">{{user.birthdate | date: 'dd/MM/yyyy'}}</div>
                <mat-form-field *ngIf="this.editing">
                  <input matInput
                         [matDatepicker]="dateStartPicker"
                         placeholder="Fecha de nacimiento"
                         (focus)="fromToggle._open($event)"
                         formControlName="birthdate">
                  <mat-datepicker-toggle #fromToggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dateStartPicker></mat-datepicker>
                </mat-form-field>
              </div>
              
              <div class="info-line">
                <div class="title">Género</div>
                <div class="info" *ngIf="!this.editing">{{user?.gender | genderFormat}}</div>
                <mat-radio-group *ngIf="this.editing" formControlName="gender">
                  <mat-radio-button value="m"> Hombre</mat-radio-button>
                  <mat-radio-button value="f"> Mujer</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          
          <div class="profile-box info-box general" fxFlex="1 0 100">
            <header class="mat-accent-bg">
            <div class="title">Trabajo</div>
            </header>

            <div class="content">
              <div class="info-line">
                <div class="title">Profesión</div>
                <div class="info" *ngIf="!this.editing">{{user?.occupation | occupationFormat}}</div>
                <mat-radio-group *ngIf="this.editing" formControlName="occupation">
                  <mat-radio-button value="Student"> Estudiante</mat-radio-button>
                  <mat-radio-button value="Businessman"> Empresario</mat-radio-button>
                  <mat-radio-button value="Entrepreneur"> Emprendedor</mat-radio-button>
                  <mat-radio-button value="Employee"> Empleado</mat-radio-button>
                  <mat-radio-button value="Unemployed"> Desempleado</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div class="profile-box info-box general" fxFlex="1 0 100">
            <header class="mat-accent-bg">
            <div class="title">Contacto</div>
            </header>

            <div class="content">
              <div class="info-line">
                <div class="title">Email</div>
                <div class="info" *ngIf="!this.editing">{{user.email}}</div>
                <mat-form-field *ngIf="this.editing">
                  <input matInput placeholder="Email" formControlName="email" required="required">
                  <mat-error *ngIf="form.get('email').hasError('required')">
                    El Email es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="info-line">
                <div class="title">Teléfono</div>
                <div class="info" *ngIf="!this.editing">{{user.phone}}</div>
                <mat-form-field *ngIf="this.editing">
                  <input type="tel" matInput placeholder="Télefono" formControlName="phone">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
