.header {
  background-image: url(/assets/images/backgrounds/header-bg.png);
  background-size: cover;
  width: 100%;
  position: relative;

  .logo {
    color: white;

    mat-icon {
      color: white;
    }
  }
}