<div fxFlex="1 0 100" fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex="0 1 80" fxLayout="row wrap" fxLayoutAlign="start start"
       class="mat-elevation-z4 text-document-card">
    <div fxFlex="1 0 100">
      <h2>Política de privacidad</h2>
    </div>
    <div fxFlex="1 0 100">
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you register in our page, as part of the registering process, we collect the personal information you give us such as your name, address and email address.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you browse our page, we also automatically receive your computer&rsquo;s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 2 - CONSENT</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">How do you get my consent?</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you provide us with personal information to complete a transaction, we imply that you consent to our collecting it and using it for that specific reason only.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 3 - DISCLOSURE</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 4 - OPPORTUMEETY</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Our page is hosted on Opportumeety.com. Your data is stored through Opportumeety&rsquo;s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 5 - THIRD-PARTY SERVICES</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website&rsquo;s Terms of Service.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Links</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you click on links on our website, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 6 - SECURITY</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. &nbsp;Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 7 - AGE OF CONSENT</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;"> By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">SECTION 8 - CHANGES TO THIS PRIVACY POLICY</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</span>
      </p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If our website is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">QUESTIONS AND CONTACT INFORMATION</span>
      </p>
      <p>&nbsp;</p>
      <p style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt;"><span
        style="font-size: 11pt; font-family: Calibri; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint contact our Privacy Compliance Officer at info@opportumeety.com</span>
      </p>
    </div>
  </div>
</div>
